@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer components {
  .link {
    @apply cursor-pointer hover:underline;
  }

  .button-outline {
    @apply rounded-md border-2 border-primary hover:bg-primary/80 hover:text-black duration-500 py-2 px-6 text-primary tracking-wider;
  }
}

@keyframes bubblePulse {

  0%,
  100% {
    transform: translateY(0) scale(1);
    box-shadow: 0 0 10px rgba(37, 211, 102, 0.5);
  }

  50% {
    transform: translateY(-6px) scale(1.05);
    box-shadow: 0 0 20px rgba(37, 211, 102, 0.8);
  }
}

.whatsapp-bubble {
  border-radius: 9999px;
  animation: bubblePulse 2.5s ease-in-out infinite;
  box-shadow: 0 0 10px rgba(37, 211, 102, 0.5);
  padding: 0.7rem 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background-color: #25D366;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.whatsapp-bubble:hover {
  background-color: #128C7E;
  transform: scale(1.1);
  box-shadow: 0 0 25px rgba(18, 140, 126, 1);
}

ul.submenu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

li.group:hover>ul.submenu,
ul.submenu:hover {
  opacity: 1;
  visibility: visible;
}